body {
 font-size: 100%;
}

div.team_info {
 width: 47%;
}

div#wrapper {
 width: 570px;
}

img.button {
 height: 30px;
 width: 30px;
}

img.team_logo {
 height: 38px;
 width: 40px;
 padding-left: 10px;
 padding-right: 10px;
}