a {
 color: inherit;
 text-decoration: none;
}

a:hover {
 text-decoration: none;
}

a:visited {
 text-decoration: none;
}

div {
 font-family: Arial, sans-serif;
 font-size: 1.05em;
}

.centered {
 text-align: center;
}

div.game {
 background: #ffffff;
 border: 1px solid #ffffff;
 clear: both;
 display: block;
 margin-bottom: 5px;
 margin-left: auto;
 margin-right: auto;
 margin-top: 5px;
 padding: 2px;
 position: relative;
}

div.selectable:hover {
 background-color: #c5e6ff;
 border: 1px solid #000000;
}

div.game_info {
 overflow: hidden;
 display: block;
 width: 100%;
}

div.team_info {
 height: 42px;
 line-height: 40px;
}

div.inning_table {
 display: table;
 margin-left: auto;
 margin-right: auto;
}

div.innings {
 display: table-row;
}

div.box {
 border: 1px solid #ffffff;
 display: table-cell;
 padding-left: 4px;
 padding-right: 4px;
 font-size: 0.9em;
}

div#wrapper {
 border: 1px solid;
 margin-left: auto;
 margin-right: auto;
 padding: 10px;
 position: relative;
}

h1 {
 font-size: 1.3em;
 text-align: center;
}

img.button#prev {
 float: left;
}

img.button#next {
 float: right;
}

img.team_logo {
 vertical-align: middle;
}

.away {
 float: left;
}

.home {
 float: right;
}
