<!doctype html>
<head>
 <meta charset="us-ascii">
 <meta name="description" content="mlbviewer-remote">
 <meta name="viewport" content="width=device-width">
 
 <title>mlbviewer-remote</title>
 
 <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
 <link rel="stylesheet" media="screen and (min-width: 601px)" href="{{ url_for('static', filename='css/desktop.css') }}">
 <link rel="stylesheet" media="handheld, (max-width: 600px)" href="{{ url_for('static', filename='css/mobile.css') }}">
 </head>

<body>
 <div id="wrapper">
  {% block content %}
  {% endblock %}
 </div>
</body>
</html>