{% extends "base.html" %}

{% block content %}

  <div class="header">
   <h1>Now watching:</h1>
   <p>Click game to stop</p>
  </div>

  <div class="game">
   <a href="{{ url_for('stop') }}">
   <div class="game_info">
    <div class="team_info away">
     <img class="team_logo away" alt="{{ game.away_name }}" src="http://mlb.mlb.com/mlb/images/team_logos/logo_{{ game.away_code }}_79x76.jpg">
     <span class="away">{{ game.away_name }}</span>
    </div>
    <div class="team_info home">
     <img class="team_logo home" alt="{{ game.home_name }}" src="http://mlb.mlb.com/mlb/images/team_logos/logo_{{ game.home_code }}_79x76.jpg">
     <span class="home">{{ game.home_name }}</span>
    </div>
   </div>
   </a>
  </div>

{% endblock %}
